<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <!-- Use React for the header = logo, nav bar, etc. -->
    <p>-------------------React off view------------------</p>
    <p>-----------------NavBar here-----------------</p>
    <p>################################################################################</p>
    <h1>Comet of Dreams Blog - only for Django Build</h1>
    <p>################################################################################</p>
    {% for blog in posts %}
    <article>
        <h1>{{blog.title}}</h1>
        {% if blog.img_link %}
        <p>#######################</p>
        <p>{{blog.img_link}} => {{blog.img_description}}</p>
        <p>#######################</p>
        {% endif %}
        {% if blog.stream_link %}
        <p>#######################</p>
        <p>{{blog.stream_link}} => {{blog.stream_description}}</p>
        <p>#######################</p>
        <iframe src={{blog.stream_link}} width="90%" height="280" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        {% endif %}
        <p>{{blog.start_date}} - {{blog.end_date}}</p>
        <p>{{blog.description}}</p>
    </article>
    {% endfor %}
    <!-- Use React for the footer -->
    <p>------------------FooterBar here---------------------</p>
</body>
</html>