{% extends "blog/base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<h1>Comet of Dreams Blog</h1>
{% for blog in posts %}
    <article>
        <h1>{{blog.title}}</h1>
        {% if blog.img_link %}
            {# <p>#######################</p> #}
            {# <p>{{blog.img_link}} => {{blog.img_description}}</p> #}
            {# <p>#######################</p> #}
            <img src="{{blog.img_link}}" alt="{{blog.img_description}}" width="50%"/>
        {% endif %}
        {% if blog.stream_link %}
            {# <p>#######################</p> #}
            {# <p>{{blog.stream_link}} => {{blog.stream_description}}</p> #}
            {# <p>#######################</p> #}
            <iframe src={{blog.stream_link}} width="70%" height="280" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        {% endif %}
        <p>{{blog.start_date}} - {{blog.end_date}}</p>
        <p>{{blog.description}}</p>
    </article>
{% endfor %}
{% endblock %}
